<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img width="415" src="/images/logo-mercado-liebre.svg" alt="Logo">
        <p>Lugar para poner la barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href="/">Ofertas</a></li>
                <li><a href="/">Tiendas Oficiales</a></li>
                <li><a href="/">Vender</a></li>
                <li><a href="/">Ayuda</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="/">Creá tu cuenta</a></li>
                <li><a href="/">Ingresá</a></li>
                <li><a href="/">Mis Compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <img width="415" src="/images/img-home-banner.jpg" alt="Banner">
        <section>
            <h2>Basado en tu última visita</h2>
            <article>
                <img width="415" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                <p>$6.770</p>
                <p>40% off</p>
                <h3>Cafetera Moulinex</h3>
            </article>
            <article>
                <img width="415" src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
                <p>$230.000</p>
                <p>20% off</p>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article>
                <img width="415" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung">
                <p>$70.500</p>
                <p>10% off</p>
                <h3>Samsung Galaxy S10</h3>
            </article>
            <article>
                <img width="415" src="/images/img-tv-samsung-smart.jpg" alt="SmartTv">
                <p>$23.200</p>
                <p>5% off</p>
                <h3>SmartTv Samsung 43"</h3>
            </article>
        </section>
        <section>
            <h2>Sección de Ofertas</h2>
            <article>
                <img width="415" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                <p>$6.770</p>
                <p>40% off</p>
                <h3>Cafetera Moulinex</h3>
            </article>
            <article>
                <img width="415" src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
                <p>$230.000</p>
                <p>20% off</p>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article>
                <img width="415" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung">
                <p>$70.500</p>
                <p>10% off</p>
                <h3>Samsung Galaxy S10</h3>
            </article>
            <article>
                <img width="415" src="/images/img-tv-samsung-smart.jpg" alt="SmartTv">
                <p>$23.200</p>
                <p>5% off</p>
                <h3>SmartTv Samsung 43"</h3>
            </article>
        </section>
    </main>  
    <footer>
        <section>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>