<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c65f2f1cc8.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="body__header-logo-search-bar-cuotas">
            <div class="body__header__div-logo-search-bar">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo">
                <div class="body__header__div__div-search-bar">
                    <input class="search-bar" name="search" placeholder="Buscar productos, marcas"></input>
                    <div><i class="fa-solid fa-magnifying-glass"></i></div>
                </div>
            </div>
            <div class="body__header__div-cuotas"><i class="fa-solid fa-hand-holding-dollar"><span class="cuotas">Comprá en cuotas y sin tarjeta de crédito</span></i></div>
        </div>
        <div class="header__menu">
            <nav class="nav--menu">
                <ul>
                    <li><a href="/">Ofertas</a></li>
                    <li><a href="/">Tiendas Oficiales</a></li>
                    <li><a href="/">Vender</a></li>
                    <li><a href="/">Ayuda</a></li>
                </ul>
            </nav>
            <nav class="nav--menu_login">
                <ul>
                    <li><a href="/register">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                    <li><a href="/login">Ingresá</a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                    <li><a href="/">Mis Compras</a><i class="fa-solid fa-basket-shopping"></i></li>
                </ul>
            </nav>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars fa-lg"></i>
        </div>
    </header><img class="home__banner" src="/images/img-home-banner.jpg" alt="Banner">
    <main class="home__main">
        
        <section class="section--ultima_visita">
            <h2>Basado en tu última visita</h2>
            <article class="section--ultima_visita__article">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                <div class="section--ultima_visita__article__div">
                    <div class="section--ultima_visita__article__div--descripcion">
                        <i class="fa-solid fa-truck"></i>
                        <p class="section--ultima_visita__article__p--precio">$6.770</p>
                        <p class="section--ultima_visita__article__p--descuento">40% off</p>
                    </div>
                    <h4>Cafetera Moulinex</h4>
                </div>
            </article>
            <article class="section--ultima_visita__article">
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
                <div class="section--ultima_visita__article__div">
                    <div class="section--ultima_visita__article__div--descripcion">
                        <i class="fa-solid fa-truck"></i>
                        <p class="section--ultima_visita__article__p--precio">$230.000</p>
                        <p class="section--ultima_visita__article__p--descuento">20% off</p>
                    </div>
                    <h4>MacBook Pro 2019</h4>
                </div>
            </article>
            <article class="section--ultima_visita__article">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung">
                <div class="section--ultima_visita__article__div">
                    <div class="section--ultima_visita__article__div--descripcion">
                        <i class="fa-solid fa-truck"></i>
                        <p class="section--ultima_visita__article__p--precio">$70.500</p>
                        <p class="section--ultima_visita__article__p--descuento">10% off</p>
                    </div>
                    <h4>Samsung Galaxy S10</h4>
                </div>
            </article>
            <article class="section--ultima_visita__article">
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv">
                <div class="section--ultima_visita__article__div">
                    <div class="section--ultima_visita__article__div--descripcion">
                        <i class="fa-solid fa-truck"></i>
                        <p class="section--ultima_visita__article__p--precio">$23.200</p>
                        <p class="section--ultima_visita__article__p--descuento">5% off</p>
                    </div>
                    <h4>SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
        <section class="section--ofertas">
            <h2>Sección de Ofertas</h2>
            <article class="section--ofertas__article">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                <div class="section--ofertas__article__div">
                    <div class="section--ofertas__article__div--descripcion">
                        <i class="fa-solid fa-truck"></i>
                        <p class="section--ofertas__article__p--precio">$6.770</p>
                        <p class="section--ofertas__article__p--descuento">40% off</p>
                    </div>
                    <h4>Cafetera Moulinex</h4>
                </div>
            </article>
            <article class="section--ofertas__article">
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
                <div class="section--ofertas__article__div">
                    <div class="section--ofertas__article__div--descripcion">
                        <i class="fa-solid fa-truck"></i>
                        <p class="section--ofertas__article__p--precio">$230.000</p>
                        <p class="section--ofertas__article__p--descuento">20% off</p>
                    </div>
                    <h4>MacBook Pro 2019</h4>
                </div>
            </article>
            <article class="section--ofertas__article">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung">
                <div class="section--ofertas__article__div">
                    <div class="section--ofertas__article__div--descripcion">
                        <i class="fa-solid fa-truck"></i>
                        <p class="section--ofertas__article__p--precio">$70.500</p>
                        <p class="section--ofertas__article__p--descuento">10% off</p>
                    </div>
                    <h4>Samsung Galaxy S10</h4>
                </div>
            </article>
            <article class="section--ofertas__article">
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv">
                <div class="section--ofertas__article__div">
                    <div class="section--ofertas__article__div--descripcion">
                        <i class="fa-solid fa-truck"></i>
                        <p class="section--ofertas__article__p--precio">$23.200</p>
                        <p class="section--ofertas__article__p--descuento">5% off</p>
                    </div>
                    <h4>SmartTv Samsung 43"</h4>
                </div> 
            </article>
        </section>
    </main>  
    <footer>
        <article>
            <i class="fa-solid fa-credit-card fa-2xl"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <i class="fa-solid fa-gift fa-2xl"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article>
            <i class="fa-solid fa-user-shield fa-2xl"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>
        <p class="footer__copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>