.button { 
    font-size: 16px;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
.button__primary {
    background-color: var(--colorCeleste);
    color: white;
}

.button__secondary {
    background-color: var(--colorGrisOscuro);
    color: white;    
}