body {
    background-color: var(--colorGrisClaro);
}
main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: all 2s;
}
main section article i:hover{
    transform: rotate(-360deg);
}
.home__main {
    width: 90%;
    margin: auto;
}
.home__banner {
    width: 100%;
}

.fa-truck {
    color: var(--colorVerde);
}
.section--ultima_visita__article{
    padding-bottom: 10px;
}
.section--ultima_visita h2 {
    font-size: 24px;
    color: var(--colorGrisOscuro);
    width: 100%;
}
.section--ultima_visita__article img {
    width: 100%;
}
.section--ultima_visita__article__div {
    border-top:  1px solid var(--colorGrisClaro);
    padding: 15px;
    background-color: white;
    position: relative;
    height: 100px;
}
.section--ultima_visita__article__div--descripcion {
    display: flex;
    padding: 15px 0;
}
.section--ultima_visita__article__p--precio{
    width: 30%;
    margin: 0;
    font-size: 18px;
}
.section--ultima_visita__article__p--descuento{
    width: 70%;
    margin: 0;
    font-size: 16px;
    color: var(--colorVerde);
}
.section--ultima_visita__article h4{
    font-size: 16px;
    color: var(--colorGrisOscuro);
    font-weight: 300;
    height: 0px;
    overflow: hidden;
    transition: all 3s;
}

.section--ofertas h2 {
    font-size: 24px;
    color: var(--colorGrisOscuro);
    width: 100%;
}
.section--ofertas__article {
    padding-bottom: 10px;
    width: 100%;
}
.section--ofertas__article img {
    width: 100%;
}
.section--ofertas__article__div {
    border-top:  1px solid var(--colorGrisClaro);
    padding: 15px;
    background-color: white;
    position: relative;
}
.section--ofertas__article__div--descripcion {
    display: flex;
    padding: 15px 0;
}
.section--ofertas__article__p--precio{
    width: 30%;
    margin: 0;
    font-size: 18px;
}
.section--ofertas__article__p--descuento{
    width: 70%;
    margin: 0;
    font-size: 16px;
    color: var(--colorVerde);
}
.section--ofertas__article h4{
    font-size: 16px;
    color: var(--colorGrisOscuro);
    font-weight: 300;
    height: 0px;
    overflow: hidden;
    transition: all 3s;
}

@media (min-width: 768px) {
    .section--ultima_visita {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    .section--ultima_visita__article {
        width: 49%;
    }
    .section--ultima_visita__article:hover{
        box-shadow: 0px 0px 15px rgb(100, 100, 100);
        transition: all 2s;;
    }
    .section--ultima_visita__article__div:hover h4{
        height: 30px;
    }
    .section--ofertas {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    .section--ofertas__article {
        width: 49%;
    }
    .section--ofertas__article:hover {
        box-shadow: 0px 0px 15px rgb(100, 100, 100);
        transition: all 2s;;
    }
    .section--ofertas__article__div:hover h4{
        height: 30px;
    }
.section--ofertas__article {
    padding-bottom: 10px;
}
}
@media (min-width: 1024px) {
    .section--ultima_visita__article {
        width: 24%;
    }
    .section--ofertas__article {
        width: 24%;
    }
}